<div class="budget-item-container"> 
  <div class="income-section">
    <h1>Income</h1>

    <div class="budget-items"  *ngFor="let item of items"> 
      <div *ngIf="item.amount >= 0">
        <app-budget-item-card [item]="item"></app-budget-item-card>
      </div>
    </div>
  </div>

  <div class="expense-section" >
    <h1>Expenses</h1>

    <div class="budget-items"  *ngFor="let item of items">
      <div *ngIf="item.amount < 0">
        <app-budget-item-card [item]="item"></app-budget-item-card>
      </div>
    </div>
  </div>
</div>